@{
    ViewData["Title"] = "Home Page";
}
<section class="hero">
    <div class="hero-body">
        <p class="title">Are you here to paste something?</p>
        <p class="subtitle">You are in the right place!</p>
        <a asp-area="" asp-controller="Paste" asp-action="Index" class="button">Click here to paste something</a>
    </div>
</section>